body {
        background-color: #00FFFF;
}
#spinner {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
}

.content {
    height:400px;
    text-align: center;
}
.accordion {
    background-color:#40E0D0;
    width: 50%;
    height: 15%;
    /*border: none;*/
}

.active, .accordion:hover {
    background-color: #8FDADF;
}
.panel {
    margin-left: 25%;
    background-color: white;
    width: 50%;
    overflow: hidden;
    /*max-height: 0;*/
}


